.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ProductList, .UserList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProductItem {
  width: 400px;
}
.ProductItem--selected {
  background-color: lightskyblue;
}
.ProductItem:hover {
  cursor: pointer;
}
.ProductItem:hover:not(.ProductItem--selected) {
  background-color: whitesmoke;
}

.UserItem {
  width: 400px;
}
.UserItem:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
